body{
width: 800;
height: 800;
background-color: blueviolet;
}

.Test{
    font-size: 44px;
    text-transform: uppercase;
}

.Word {
    font-size: 30px;
    font-weight: 600;
    color: aqua;
    font-style: italic;
    text-decoration: underline;
}